<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.number_field :x_user_id, value: current_user.id %>
    <%#= f.input :o_user_id %>
    <%= f.text_field :board %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
