<p id="notice"><%= notice %></p>

<p>
  <b>X user:</b>
  <%= @game.x_user_id %>
</p>

<p>
  <b>O user:</b>
  <%= @game.o_user_id %>
</p>

<p>
  <b>Board:</b>
  <%= @game.board %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
